@charset "utf-8";
@import "bulma/css/bulma.css";
@import "./node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Poppins");

$Poppins-font: "Poppins", sans-serif;
$card-border-dark: rgb(112, 112, 112);
$card-border-light: rgb(228, 228, 228);

.app.dark {
  background-color: $dark;
  color: $light;
  min-height: 100vh;
}

.app.dark .title {
  color: $light;
}

.app.dark .subtitle {
  color: $light;
}

.app.dark strong {
  color: $light;
}

.app.dark .card {
  background-color: $dark;
  border-style: solid;
  border-color: $card-border-dark;
  color: $light;
  border-radius: 32px;
}

.app .card {
  background-color: $light;
  border-style: solid;
  border-color: $card-border-light;
  border-radius: 32px;
}

.app.dark .card .content {
  color: white;
}

.card {
  font-family: $Poppins-font;
  font-size: 16px;
  height: 100%;
}

// Animated expand button

$box-shadow-dark: $card-border-dark 0px 0px 0px 2px;
$box-shadow-dark-hover: $card-border-dark 0px 0px 0px 5px;

$box-shadow-light: $card-border-light 0px 0px 0px 2px;
$box-shadow-light-hover: $card-border-light 0px 0px 0px 5px;

.dark .expand-container {
  background-color: $dark;
  color: $light;
  box-shadow: $box-shadow-dark;
}

.dark .expand-container:hover {
  box-shadow: $box-shadow-dark-hover;
}

.expand-container {
  color: $dark;
  box-shadow: $box-shadow-light;
}

.expand-container:hover {
  box-shadow: $box-shadow-light-hover;
}
